[Desktop Entry]
Name=Download center
Exec=download-center
Icon=ru.katy248.download-center
Terminal=false
Type=Application
MimeType=

Keywords=RED ADM;РЕД АДМ;
Categories=GTK;GNOME;Utility;FileTools;
X-Purism-FormFactor=Workstation;Mobile;
